{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'info/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'info/css/base.css' %}">
{% endblock %}

{% block content %}
<main class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">{{ user.username }}</span>
    </a>

    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="{% url 'info:dashboard' %}" class="nav-link active link-body-emphasis" aria-current="page">
          <span class="fa fa-sitemap"></span>
          &nbsp;Organisations
        </a>
      </li>
      <li>
        <a href="{% url 'info:dashboard_events' %}" class="nav-link link-body-emphasis">
          <span class="fa fa-calendar"></span>
          &nbsp;Events
        </a>
      </li>
      <li>
        <a href="{% url 'info:dashboard_resources' %}" class="nav-link link-body-emphasis">
          <span class="fa fa-vector-square"></span>
          &nbsp;Resources
        </a>
      </li>
      <li>
        <a href="{% url 'info:dashboard_contacts' %}" class="nav-link link-body-emphasis">
          <span class="fa fa-person"></span>
          &nbsp;Contacts
        </a>
      </li>
      <li>
        <a href="{% url 'info:dashboard_locations' %}" class="nav-link link-body-emphasis">
          <span class="fa fa-location"></span>
          &nbsp;Locations
        </a>
      </li>
    </ul>
  </div>
  <div class="container-fluid overflow-auto">
    <div class="row px-5">
        <h2>{{ org.name }}</h2>
        <form method="POST" action="{% url 'info:dashboard_org' org.slug %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Save"/>
            <a href="{% url 'info:dashboard' %}" class="btn btn-danger">Cancel</a>
        </form>

    </div>
  </div>
</main>
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   
    <script>
        async function postData(event) {
            const csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]');
            const response = await fetch(event.target.href, {
                method: "DELETE",
                body: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                headers: {
                    "X-CSRFToken": "{{ csrf_token  }}"
                }
            });
            return await response.json();
        }
        

        document.querySelectorAll("#delete-event").forEach((item) => {
            item.addEventListener("click", function(event) {
                event.preventDefault();
                swal({
                    "title": "Are you sure?",
                    "text": "This will delete this event",
                    "icon": "warning",
                    "buttons": {
                        "cancel": "No",
                        "continue": "Yes",
                    },
                }).then((value) => {
                    switch(value) {
                        case "continue":
                            postData(event).then((data) => location.reload());
                            break;

                        default:
                            console.log("Leaving well alone");
                    }
                }).catch((error) => console.log(error));
            })
        });
    </script>
{% endblock %}
{% block js %} 
<script src="{% static 'info/css/base.js' %}"></script>
{% endblock %}