{% extends "base.html" %}

{% block nav %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
    <div class="row">
    {% for org in orgs %}
            <div class="w-25">
                <div class="card text-center">
                    <a href="{% url 'dashboard_org' org.slug %}">
                      <img class="card-img-top" src="{{ org.logo.url }}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'dashboard_org' org.slug %}">{{ org.name }}</a></h5>
                        <p class="card-text">{{ org.description|slice:":80" }}</p>
                        <a href="{% url 'dashboard_resources' org.slug %}" class="btn btn-primary">Resources</a>
                        <a href="{% url 'dashboard_events' org.slug %}" class="btn btn-primary">Events</a>
                    </div>
                </div>
            </div>
    {% empty %}
        <h2>No Organisations</h2>
    {% endfor %}
    </div>
{% endblock %}
