{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block nav %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3 mt-3">
      <li class="breadcrumb-item fw-bold"><a href="{% url 'index' %}" class="text-uppercase text-decoration-none">Home</a></li>
      <li class="breadcrumb-item fw-bold"><a href="{% url 'dashboard_organisations' %}" class="text-uppercase text-decoration-none">Dashboard</a></li>
      <li class="breadcrumb-item active text-uppercase">{{ org.name }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description" aria-selected="true">Description</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-resources-tab" data-bs-toggle="pill" data-bs-target="#pills-resources" type="button" role="tab" aria-controls="pills-resources" aria-selected="false">Resources</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-events-tab" data-bs-toggle="pill" data-bs-target="#pills-events" type="button" role="tab" aria-controls="pills-events" aria-selected="false">Events</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contacts-tab" data-bs-toggle="pill" data-bs-target="#pills-contacts" type="button" role="tab" aria-controls="pills-contacts" aria-selected="false">Contacts</button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'dashboard_resources' org.slug %}" class="btn btn-primary">Save</a>
    </div>

    <div class="tab-pane fade" id="pills-resources" role="tabpanel" aria-labelledby="pills-resources-tab">
        <div class="row row-cols-4">
            <div class="col-md-4 mb-4">
                <div class="card p-2 p-md-4 card-primary text-white">
                    <h4>Create New Resource...</h4>
                    <div class="card-body bg-transparent border border-0">
                        <p>... for {{ org.name }}</p>
                        <a href="{% url 'new_dashboard_resource' org.slug %}" class="btn btn-primary">Create New Resource</a>
                    </div>
                </div>
            </div>

            {% for resource in resources %}
                <div class="col-md-4 mb-4">
                    <div class="card p-2 p-md-4 {% cycle 'card-secondary' 'card-primary' %} text-white">
                        <h4>{{ resource.name }}</h4>
                        <div class="card-body">
                            <p>{{ resource.description }}</p>
                            <a href="{% url 'dashboard_resource' org.slug resource.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'dashboard_resource' org.slug resource.id %}" class="btn btn-primary" id="delete-event">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="tab-pane fade" id="pills-events" role="tabpanel" aria-labelledby="pills-events-tab">
        <div class="row row-cols-4">
            <div class="col-md-4 mb-4">
                <div class="card p-2 p-md-4 card-primary text-white">
                    <h4>Create New Event...</h4>
                    <div class="card-body bg-transparent border border-0">
                        <p>... for {{ org.name }}</p>
                        <a href="{% url 'new_dashboard_event' org.slug %}" class="btn btn-primary">Create New Event</a>
                    </div>
                </div>
            </div>

            {% for event in events %}
                <div class="col-md-4 mb-4">
                    <div class="card p-2 p-md-4 {% cycle 'card-secondary' 'card-primary' %} text-white">
                        <h4>{{ event.name }}</h4>
                        <div class="card-body">
                            <p>{{ event.description }}</p>
                            <a href="{% url 'dashboard_event' org.slug event.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'dashboard_event' org.slug event.id %}" class="btn btn-primary" id="delete-event">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="tab-pane fade" id="pills-contacts" role="tabpanel" aria-labelledby="pills-contacts-tab">
        <div class="row row-cols-4">
            <div class="col-md-4 mb-4">
                <div class="card p-2 p-md-4 card-primary text-white">
                    <h4>Create New</h4>
                    <div class="card-body bg-transparent border border-0">
                        <p>Create A New Contact</p>
                        <a href="{% url 'new_dashboard_contact' org.slug %}" class="btn btn-primary">Create New</a>
                    </div>
                </div>
            </div>

            {% for contact in contacts %}
                <div class="col-md-4 mb-4">
                    <div class="card p-2 p-md-4 {% cycle 'card-secondary' 'card-primary' %} text-white">
                        <h4>{{ contact.name }}</h4>
                        <div class="card-body">
                            <p>{{ user }}</p>
                            <a href="{% url 'dashboard_contact' org.slug user.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'dashboard_contact' org.slug user.id %}" class="btn btn-primary" id="delete-event">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
  </div>
{% endblock %}
