{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block nav %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dashboard_org' org.slug %}">{{ org.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dashboard_events' org.slug %}">Events</a></li>
      <li class="breadcrumb-item active">{{ event.name }}</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
    <div class="row">
        <h2>{{ org.name }}</h2>
        <form method="POST" action="{% url 'dashboard_event' org.slug event.id %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Save"/>
        </form>

    </div>
{% endblock %}
