{% extends "dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'info/css/sidebar.css' %}">
{% endblock %}

{% block organisations-class %}active{% endblock %}

{% block dashboard_content %}
{% for org in orgs %}
<div class="col-md-4 mb-4">
  <div class="card p-2 p-md-4 {% cycle 'card-primary' 'card-secondary' %} text-white">
    <div class="card-body bg-transparent border border-0">
      <h5 class="event-title fs-2 fw-bold m-0 p-0">
        <a href="{% url 'info:organisation' org.slug %}" class="text-white text-decoration-none">{{ org.organisation_name }}</a>
      </h5>
      <p class="event-text mt-2">{{ org.description|slice:":80" }}</p>
    </div>

    <div class="card-footer bg-transparent border border-0 d-flex flex-row justify-content-between align-items-center">
      <div class="event-button">
        <a class="btn text-white fs-5 border border-2 px-2 m-0" href="{% url 'info:dashboard_org' org.slug %}"><i class="fa fa-edit"></i> Edit</a>
      </div>
    </div>
  </div>
  &nbsp;
</div>

{% empty %}
  <div class="col-md-12">
    <h2>No Organisations</h2>
  </div>
{% endfor %}
{% endblock %}
