{% extends "base.html" %}

{% block nav %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item">Events</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
    <h1>Events</h1>
    {% for event in events %}
            <div class="w-25">
                <div class="card text-center">
                    <a href="{% url 'organisation' event.organisation.slug %}">{{ event.organisation.name }}</a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'event' event.id %}">{{ event.name }}</a></h5>
                        <p class="card-text">{{ event.description|slice:":80" }}</p>
                        <a href="{% url 'event' event.id %}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
    {% empty %}
        <h2>No Events</h2>
    {% endfor %}
{% endblock %}
