{% extends "base.html" %}

{% block nav %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3 mt-3">
      <li class="breadcrumb-item fw-bold"><a href="{% url 'index' %}" class="text-uppercase text-decoration-none">Home</a></li>
      <li class="breadcrumb-item fw-bold"><a href="{% url 'events' %}" class="text-uppercase text-decoration-none">Events</a></li>
      <li class="breadcrumb-item active text-uppercase">{{ event.name }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
    <h1>{{ event.name }}</h1>
    {% if event.ticketed %}
      <div class="alert alert-primary" role="alert">
        <p>Please note this is a ticketed event and entry on the door is not possible, please ensure you have your ticket ready to show upon entry.</p>
      </div>
    {% endif %}
    <h2>Description</h2>
    <p>
      {{ event.description }}
    </p>
   <div>
      <h2>Contact</h2>
      <p>{{ event.contact }}</p>
    </div>
{% endblock %}
