{% extends "base.html" %}

{% block events-class %}active active-background{% endblock %}

{% block nav %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3 mt-3">
      <li class="breadcrumb-item fw-bold"><a href="{% url 'info:index' %}" class="text-uppercase text-decoration-none">Home</a></li>
      <li class="breadcrumb-item fw-bold"><a href="{% url 'info:events' %}" class="text-uppercase text-decoration-none">Events</a></li>
      <li class="breadcrumb-item active text-uppercase">{{ event.name }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="container text-center">
  <div class="row p-2 p-md-4 card-secondary text-white">
    <div class="col bg-transparent">
      <h1>{{ event.name }}</h1>
    </div>
  </div>

  <div class="row p-2 p-md-4 card-primary text-white">
    <div class="col bg-transparent">
      {% if event.ticketed %}
      <div class="alert alert-primary">
        <p>Please note this is a ticketed event and entry on the door is not possible, please ensure you have your ticket ready to show upon entry.</p>
        </div>
      {% endif %}
      <p>{{ event.description }}</p>
      <p>{{ event.price }}</p>
      <p>Starts: {{ event.start_date_time }}</p>
      <p>Ends: {{ event.end_date_time }}</p>
      <div>
        <h4>Location:</h4>
        <p>{{ event.location.name }}</p>
        <p>{{ event.location.address }}</p>
        <p>{{ event.location.post_code }}</p>
      </div>
      <div>
        <span><a href="tel:{{ event.contact.phone_number}}">{{ event.contact.phone_number}}</a>
        <a href="mailto:{{ event.contact.email}}">{{ event.contact.email}}</a></span>
      </div>
      <div>
        <p>
          {% for tag in event.tags.all %}
            <a href="{% url 'info:index' %}?search={{ tag }}">{{ tag }}</a>{% if not forloop.last %},&nbsp;{% endif %}
          {% endfor %}

        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
