{% extends "base.html" %}

{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'info/css/base.css' %}">
{% endblock %}

{% block events-active %}active active-background{% endblock %}
{% block nav %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mx-3 mt-3">
    <li class="breadcrumb-item fw-bold"><a href="{% url 'info:index' %}" class="text-uppercase text-decoration-none">Home</a></li>
    {% if org %}
      <li class="breadcrumb-item fw-bold"><a href="{% url 'info:events' %}" class="text-uppercase text-decoration-none">Events</a></li>
      <li class="breadcrumb-item text-uppercase">{{ org.name }}</li>
    {% else %}
      <li class="breadcrumb-item text-uppercase">Resources</li>
    {% endif %}
  </ol>
</nav>
{% endblock %}

{% block content %}
<div class="page">
  <h1 class="page-title text-uppercase fw-bold text-center">Events</h1>
  <div class="row">
    {% for event in events %}
      <div class="col-md-4">
        <div  class="card h-100 p-2  p-md-4 {% cycle 'card-primary' 'card-secondary' %} text-white">
          <div class="card-header bg-transparent border border-0">
            <p class="event-month text-uppercase fw-medium m-0 p-0">{{ event.start_date_time|date:"M - Y" }}</p>
            <p class="event-day fw-bold m-0 p-0">{{ event.start_date_time|date:"d" }}</p>
          </div>
          <div class="card-body bg-transparent border border-0">
            <h5 class="event-title fs-2 fw-bold m-0 p-0"><a href="{% url 'info:event' event.id %}" class="text-white text-decoration-none">{{ event.name }}</a></h5>
            <p  class="event-text">{{ event.description|slice:":80" }}</p>
          </div>
          <div class="card-footer bg-transparent border  border-0 d-flex flex-row justify-content-between align-items-center">
            <div class="event-location">
              <p class="event-date fw-medium my-0 py-0">Starts: {{ event.start_date_time.time|time:"H:i" }}</p>
              <p class="event-date fw-medium my-0 py-0">Length: {{ event.format_duration }}</p>
              <p class="d-flex align-items-center"><i class="bi bi-pin-map me-2 my-0 py-0 fw-medium"></i>{{ event.location }}</p>
            </div>
            <div class="event-button">
              <a class="btn text-white fs-5 border border-2 px-2 m-0" href="{% url 'info:event' event.id %}">Details <i class="bi bi-arrow-right fs-5"></i></a>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
    <div class="col-md-12">
      <h2>No Events</h2>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block js %} 
<script src="{% static 'info/css/base.js' %}"></script>
{% endblock %}