{% extends "dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'info/css/sidebar.css' %}">
{% endblock %}

{% block events-class %}active{% endblock %}

{% block dashboard_content %}
<div class="row px-5 row-cols-auto">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-primary" value="Save"/>
      <a href="{% url 'info:dashboard_events' %}" class="btn btn-danger">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}


{% block js %}
  <script>
    flatpickr("#id_start_date_time", {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
    });

    flatpickr("#id_end_date_time", {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
    });
  </script>
{% endblock %}
