{% extends "base.html" %}

{% block nav %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
    <h1>ResourceDB</h1>
    <form method="POST" action="{% url 'index' %}" class="row form">
      {% csrf_token %}
      <div class="col-lg-8">
        <input type="text" name="search" placeholder="search..." class="form-control" />
      </div>
      <div class="col-lg-4">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>

    {% if results %}
      <table class="table">
        <thead>
          <td>Organisation</td>
          <th>Name</th>
          <th>Type</th>
        </thead>
        <tbody>
          <tr>
          {% for result in results %}
              <td><a href="{% url 'organisation' result.organisation.slug %}">{{ result.organisation.name }}</a></td>
              <td><a href="{{ result.get_absolute_url }}">{{ result }}</a></td>
              {% if result.CNAME == "event" %}
                <td><a href="{% url 'events' %}">{{ result.CNAME }}</a></td>
              {% elif result.CNAME == "resource" %}
                <td><a href="{% url 'resources' %}">{{ result.CNAME }}</a></td>
              {% endif %}
          {% endfor %}
          </tr>
        </tbody>
      </table>
    {% endif %}
{% endblock %}
