{% extends "base.html" %}

{% block nav %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3 mt-3">
      <li class="breadcrumb-item fw-bold"><a href="{% url 'index' %}" class="text-uppercase text-decoration-none">Home</a></li>
      <li class="breadcrumb-item active text-uppercase">Locations</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="page">
    <h1 class="page-title text-uppercase fw-bold">Locations</h1>
    <div class="row">
      {% for location in locations %}
        <div class="col-md-4 mb-4">
          <div class="card p-2 p-md-4 {% cycle 'card-primary' 'card-secondary' %} text-white">
            <div class="card-body bg-transparent border border-0">
              <h5 class="event-title fs-2 fw-bold m-0 p-0">
                  <a href="{% url 'location' location.id %}" class="text-white text-decoration-none">{{ location.name }}</a>
              </h5>
              <p class="event-text mt-2">{{ location.address }}</p>
              <p class="event-text mt-2">{{ location.post_code }}</p>
            </div>

            <div class="card-footer bg-transparent border border-0 d-flex flex-row justify-content-between align-items-center">
              <div class="event-button">
                <a class="btn text-white fs-5 border border-2 px-2 m-0" href="{% url 'location' location.id %}">Details <i class="bi bi-arrow-right fs-5"></i></a>
              </div>
            </div>
          </div>
        </div>
    {% empty %}
      <div class="col-md-12">
        <h2>No Locations</h2>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
