{% extends "dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'info/css/sidebar.css' %}">
{% endblock %}
{% block locations-class %}active{% endblock %}
{% block dashboard_content %}
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card p-2 p-md-4 card-primary text-white">
      <div class="card-body bg-transparent border border-0">
        <h5 class="event-title fs-2 fw-bold m-0 p-0">Create New</h5>
        <p>Create A New Location</p>
      </div>

      <div class="card-footer bg-transparent border border-0 d-flex flex-row justify-content-between align-items-center">
        <div class="event-button">
          <a href="{% url 'info:new_dashboard_location' %}" class="btn text-white fs-5 border border-2 px-2 m-0"><i class="fa fa-plus"></i> Create New</a>
        </div>
      </div>
    </div>
  </div>

{% for location in locations %}
  <div class="col-md-4 mb-4">
    <div class="card p-2 p-md-4 {% cycle 'card-secondary' 'card-primary' %} text-white">
      <div class="card-body bg-transparent border border-0">
        <h5>{{ location.venue_name }}</h5>
        <p>{{ location.address }}, {{ location.post_code }}</p>
      </div>

      <div class="card-footer bg-transparent border border-0 d-flex flex-row justify-content-between align-items-center">
        <div class="event-button">
          <a href="{% url 'info:dashboard_location' location.id %}" class="btn text-white fs-5 border border-2 px-2 m-0"><i class="fa fa-edit"></i> Edit</a>
          <a href="{% url 'info:delete_dashboard_location' location.id %}" class="btn text-white fs-5 border border-2 px-2 m-0"><i class="fa fa-cancel"></i> Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
