{% extends "base.html" %}

{% block nav %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3 mt-3">
      <li class="breadcrumb-item fw-bold"><a href="{% url 'index' %}" class="text-uppercase text-decoration-none">Home</a></li>
      <li class="breadcrumb-item fw-bold"><a href="{% url 'locations' %}" class="text-uppercase text-decoration-none">Locations</a></li>
      <li class="breadcrumb-item active text-uppercase">{{ location.name }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
    <h1>Location</h1>
    <h4>{{ location.name }}</h4>
{% endblock %}
