{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block nav %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3 mt-3">
      <li class="breadcrumb-item fw-bold"><a href="{% url 'index' %}" class="text-uppercase text-decoration-none">Home</a></li>
      <li class="breadcrumb-item fw-bold"><a href="{% url 'dashboard_organisations' %}" class="text-uppercase text-decoration-none">Dashboard</a></li>
      <li class="breadcrumb-item fw-bold"><a href="{% url 'dashboard_org' org.slug %}" class="text-uppercase text-decoration-none">{{ org.name }}</a></li>
      <li class="breadcrumb-item fw-bold"><a href="{% url 'dashboard_events' org.slug %}" class="text-uppercase text-decoration-none">Events</a></li>
      <li class="breadcrumb-item active text-uppercase text-decoration-none">New</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
<div class="row px-5">
    <h2>{{ org.name }}</h2>
</div>

<div class="row px-5 row-cols-auto">
    <div class="col col-sm-12 col-md-8 col-lg-6 col-xl-4 col-xxl-3">
        <form method="POST" action="{% url 'new_dashboard_event' org.slug %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Save"/>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
  <script>
    flatpickr("#id_start_date_time", {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
    });

    flatpickr("#id_end_date_time", {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
    });
  </script>
{% endblock %}
