{% extends "base.html" %}

{% block nav %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organisations' %}">Organisations</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organisation' org.slug %}">{{ org.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organisation_events' org.slug %}">Events</a></li>
      <li class="breadcrumb-item active">{{ event.name }}</li>
    </ol>
  </nav>
{% endblock %}


{% block content %}
  <div class="container text-center">
  <div class="row">
    <div class="col">
      <h1>{{ org.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2><a href="{% url 'location' event.location.id %}">{{ event.location.name|capfirst }}</a></h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        {{ event.description }}
      </p>
    </div>
  </div>
</div>


{% endblock %}
