{% extends "base.html" %}

{% block nav %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organisations' %}">Organisations</a></li>
      <li class="breadcrumb-item active">{{ org.name }}</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
    <h1>{{ org.name }}</h1>

    <h2>{{ org.location.name|capfirst }}</h2>

    <p>
      {{ org.description }}
    </p>
{% endblock %}
