{% extends "base.html" %}

{% block nav %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3 mt-3">
      <li class="breadcrumb-item fw-bold"><a href="{% url 'index' %}" class="text-uppercase text-decoration-none">Home</a></li>
      <li class="breadcrumb-item fw-bold"><a href="{% url 'organisations' %}" class="text-uppercase text-decoration-none">Organisations</a></li>
      <li class="breadcrumb-item fw-bold"><a href="{% url 'organisation' org.slug %}" class="text-uppercase text-decoration-none">{{ org.name }}</a></li>
      <li class="breadcrumb-item active text-uppercase text-decoration-none">Events</li>
    </ol>
  </nav>
{% endblock %}


{% block content %}
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Date/Time</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
            <tr>
              <td><a href="{% url 'organisation_event' org.slug event.id %}">{{ event.name }}</a></td>
              <td><a href="{% url 'location' event.location.id %}">{{ event.location.name }}</a></td>
              <td>{{ event.date_time }}</td>
              <td>{{ event.price }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
