{% extends "base.html" %}

{% block nav %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3 mt-3">
      <li class="breadcrumb-item fw-bold"><a href="{% url 'index' %}" class="text-uppercase text-decoration-none">Home</a></li>
      <li class="breadcrumb-item fw-bold"><a href="{% url 'organisations' %}" class="text-uppercase text-decoration-none">Organisations</a></li>
      <li class="breadcrumb-item active text-uppercase">{{ org.name }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
  <div class="container text-center">
    <div class="row p-2 p-md-4 card-secondary text-white">
      <div class="col bg-transparent">
        <h1>{{ org.name }}</h1>
      </div>
    </div>

    <div class="row p-2 p-md-4 card-primary text-white">
      <div class="col bg-transparent">
        <p>
          {{ org.description }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
