{% extends "dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'info/css/sidebar.css' %}">
{% endblock %}
{% block resources-class %}active{% endblock %}
{% block dashboard_content %}
<div class="row px-5 row-cols-auto">
  <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-primary" value="Save"/>
      <a href="{% url 'info:dashboard_resources' %}" class="btn btn-danger">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
