{% extends "base.html" %}

{% block nav %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3 mt-3">
      <li class="breadcrumb-item fw-bold"><a href="{% url 'index' %}" class="text-uppercase text-decoration-none">Home</a></li>
      <li class="breadcrumb-item fw-bold"><a href="{% url 'resources' %}" class="text-uppercase text-decoration-none">Resources</a></li>
      <li class="breadcrumb-item active text-uppercase">{{ resource.name }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
    <h1>Resource</h1>
    <p>
      {{ resource.description }}
    </p>
{% endblock %}
