{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'info/css/base.css' %}">
{% endblock %}
{% block resource-active %}active active-background{% endblock %}
{% block nav %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3 mt-3">
      <li class="breadcrumb-item fw-bold"><a href="{% url 'info:index' %}" class="text-uppercase text-decoration-none">Home</a></li>
      <li class="breadcrumb-item fw-bold"><a href="{% url 'info:resources' %}" class="text-uppercase text-decoration-none">Resources</a></li>
      <li class="breadcrumb-item active text-uppercase">{{ resource.name }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">{{ resource.name }}</h1>
  <div class="col-lg-6 mx-auto">
    <p>{{ resource.description }}</p>
    <p>
      {% for tag in resource.tags.all %}
        <a href="{% url 'info:index' %}?search={{ tag }}">{{ tag }}</a>{% if not forloop.last %},&nbsp;{% endif %}
      {% endfor %}
    </p>
  </div>
</div>
{% endblock %}
{% block js %} 
<script src="{% static 'info/css/base.js' %}"></script>
{% endblock %}