{% load static %}
{% load cookie_consent_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spectrum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'info/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'info/css/events.css' %}">
    <link rel="stylesheet" href="{% static 'info/css/cookies.css' %}">
    <script src="https://kit.fontawesome.com/{{ FONT_AWESOME_API_KEY }}.js" crossorigin="anonymous"></script>
    {% block stylesheets %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'cookie_consent/cookiebar.js' %}"></script>
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_TAG_MANAGER_API_KEY }}"></script>
      <script type="{% js_type_for_cookie_consent request 'Analytical' '*:.google.com' %}">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        {% if request|cookie_group_accepted:"Analytical" %}
          gtag('config', '{{ GOOGLE_TAG_MANAGER_API_KEY }}');
        {% endif %}
      </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'info:index' %}"><h2>Spectrum</h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link {% block orgs-class %}{% endblock %}" aria-current="page" href="{% url 'info:organisations' %}">Organisations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block events-class %}{% endblock %}" href="{% url 'info:events' %}">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block about-class %}{% endblock %}" href="{% url 'about:about' %}">About</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link {% block help-class %}{% endblock %}" href="{% url 'help:overview' %}">Help</a>
            </li>
            {% endif %}
          </ul>
          <div class="d-flex" role="actions">
            {% if user.is_authenticated %}
              <a href="{% url 'info:dashboard_organisations' %}" class="btn btn-primary" role="button">Dashboard</a>
              &nbsp;
              <a href="{% url 'logout' %}" class="btn btn-primary" role="button">Logout</a>
            {% else %}
              <a href="{% url 'info:register' %}" class="btn btn-primary" role="button">Register</a>
              &nbsp;
              <a href="{% url 'login' %}" class="btn btn-primary" role="button">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    {% block nav %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer>
      <nav class="bg-light text-center fixed-bottom p-1 mt-5">
        <span>Supported by <a href="https://www.spiritofchristmas.org.uk/">Spirit Of Christmas</a>&nbsp;&copy;&nbsp;(Charity #1185011)</span>
        &nbsp;|&nbsp;
        <span>Spotted a bug in Spectrum? <a href="https://github.com/spirit-of-christmas/spectrum/issues">Report it!</a></span>
      </nav>
    </footer>

    {% block js_scripts %}
    {% endblock %}

    {% block js %}
    {% endblock %}

    {% if request|cookie_consent_enabled %}
      {% not_accepted_or_declined_cookie_groups request as cookie_groups %}
    {% endif %}

    {% cookie_consent_accept_url cookie_groups as url_accept %}
    {% cookie_consent_decline_url cookie_groups as url_decline %}

    <script>
      const cookie_groups = [];

      {% for cookie_group in cookie_groups %}
        cookie_groups.push("{{ cookie_group.varname }}");
      {% endfor %}

      $(function() {
        {% if request|cookie_group_accepted:"Analytical" or request|cookie_group_declined:"Analytical" %}
        {% else %}
          showCookieBar({
            content: "{% filter escapejs %}{% with cookie_groups=cookie_groups|join:", " %}<div class="cookie-bar">This site uses {{ cookie_groups }} cookies for better performance and user experience. Do you agree to use cookies? <a href="{{ url_accept }}" class="btn btn-success cc-cookie-accept">Accept</a> <a href="{{ url_decline }}" class="btn btn-danger cc-cookie-decline">Decline</a> <a href="{% url 'cookie_consent_cookie_group_list' %}" class="btn btn-info">Cookies info</a></div>{% endwith %}{% endfilter %}",
            cookie_groups: cookie_groups,
            cookie_decline: "{% get_decline_cookie_groups_cookie_string request cookie_groups %}",
            beforeDeclined: function() {
              document.cookie = "{% get_decline_cookie_groups_cookie_string request cookie_groups %}";
            }
          });
        {% endif %}
      });
    </script>
  </body>
</html>
