{% extends "base.html" %}

{% block about-class %}active active-background{% endblock %}

{% block nav %}
<div class="overflow-auto mb-5 pb-5" style="height: 100vh; text-align: justify;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3 mt-3">
      <li class="breadcrumb-item fw-bold text-uppercase"><a href="{% url 'info:index' %}">Home</a></li>
      <li class="breadcrumb-item fw-bold text-uppercase"><a href="{% url 'about:about' %}">About</a></li>
      <li class="breadcrumb-item text-uppercase">BhosalePriyanka</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
    <div class="row px-5 text-center">
      <h2>BhosalePriyanka</h2>
    </div>
{% endblock %}
