{% extends "base.html" %}

{% block about-class %}active active-background{% endblock %}

{% block nav %}
<div class="overflow-auto mb-5 pb-5" style="height: 100vh; text-align: justify;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3 mt-3">
      <li class="breadcrumb-item fw-bold text-uppercase"><a href="{% url 'info:index' %}">Home</a></li>
      <li class="breadcrumb-item fw-bold text-uppercase"><a href="{% url 'about:about' %}">About</a></li>
      <li class="breadcrumb-item text-uppercase">NMunro</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
    <div class="row px-5 text-center">
      <h2>NMunro</h2>
      <p>I'm NMunro (Neil Munro) a Computer Scientist with a combined 24 years of education and employment in developing software. I started writing code at 14 years old tinkering around with building websites. I have worked in many different industries and on many different projects, from digital print to digital archiving, to Cheminformatics. I am is currently the head of back end engineering at Elixir, the products I work on help the worlds scientists in their work. Prior to this I was teaching computer science in a boot camp, I am passionate about making computer science accessable to people.</p>
      <p>I make youtube videos on learning to use older (but still used) programming languages <a href="https://www.youtube.com/watch?v=xyXDE5gP2QI&list=PLCpux10P7KDKPb4eI5b_qSnQaY1ePGKGK">here</a>.</p>
      <p>My claim to fame is that a tiny piece of code I contributed to a project many, many years ago was later taken and used by NASA on the Mars helicoper mission, it's a largely insignificant piece of code, but still my name is somewhere on another planet.</p>
      <p>When I'm not writing code, I enjoy some of the usual cliche 'nerdy' things, I enjoy playing video games, watching movies, playing <a href="https://magic.wizards.com/en">Magic: The Gathering</a>, but I also enjoy power lifting in the gym, axe throwing, and walking my dog, Lua.</p>
    </div>
{% endblock %}
