{% extends 'dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'info/css/sidebar.css' %}">
{% endblock %}

{% block profile-class %}active{% endblock %}

{% block dashboard_content %}
    <h2 class="text-center">Edit Profile</h2>

    <form method="post" class="col-lg-6 col-sm-12 mx-auto border shadow p-5 text-center fw-bold text-uppercase">
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'password_change' %}">Change Password</a>
        <br/>
        <br/>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}
